.menu-user{
  height: auto;
  width: 150px;

  background-color: #f8f8f8;
  border-top: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-left: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-right: 0.5px solid hsla(0, 0%, 0%, 0.25);

  margin-top: 10px;
}

.links-gprodutos{
  background-color: #fff;
  border: none;
  border-bottom: 0.5px solid hsla(0, 0%, 0%, 0.25);
  
  padding: 7px 0px;
  width: 100%;
  cursor: pointer;
  
  text-align: initial;
  font-size: 12px;

  display: flex;
  align-items: center;
}

.button-gprodutos{
  background-color: #fff;
  border: none;
  border-bottom: 0.5px solid hsla(0, 0%, 0%, 0.25);
  
  padding: 7px 0px;
  width: 100%;
  cursor: pointer;
  
  text-align: initial;
  font-size: 12px;

  display: flex;
  align-items: center;
}

.menu-user a{
  text-decoration: none;
  color: #000;
}

.img-meuuser{
  width: 12px !important;
  height: 12px !important;
  margin: 4px 4px 4px 8px !important;
  border: none !important;
}

.links-gprodutos img{
  width: 12px;
  height: 12px;
  margin: 4px 4px 4px 8px;

  border: none;
}

.position-menu{
  display:none;

  position: absolute;
  top: 55px;
}

.menu-user a:hover{
  background-color: #f8f8f8;
}

.menu-user button:hover{
  background-color: #f8f8f8;
}