.conteiner-admin{
  display: flex;
}
.cadastro-admin{
  width: auto;
  padding: 30px;
  margin: 46px 56px;
  
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius:5px;
}
.cadastro-admintxt{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 22px;
}
#admin-status{
  width: 167px;
  height: 50px;
  padding: 0px 12px;
  margin-bottom: 20px;

  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

  font-size: 14px;
}
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}