.title-gprodutos{
  padding: 0px 24px;
  height: 60px;
  width: 350px;

  font-size: 24px;
  font-weight: 600;

  display: flex;
  align-items: center;
}
.total-gprodutos{
  width: 400px;
  height: auto;
  margin-top: 115px;

  background-color: #fff;
  border: 1px solid #C2C2C2;
  border-radius: 5px;

  display: flex;
  align-items: center;
  flex-direction: column
}
.inputs-gprodutos{
  margin-top: 20px;
}
.inputs-gprodutos p{
  font-size: 13px;
}
input[id='nome-produto']{
  width: 322px;
  height: 48px;
  padding: 0px 12px;
  margin-bottom: 12px;

  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

  font-size: 14px;
}
select{
  width: 347px;
  height: 48px;
  padding: 0px 12px;
  margin-bottom: 12px;

  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;
}
input[id='valor']{
  width: 322px;
  height: 48px;
  padding: 0px 12px;
  margin-bottom: 12px;

  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

  font-size: 14px;
}
input[id='quantidade']{
  width: 100px;
  height: 48px;
  padding: 0px 12px;
  margin-bottom: 12px;

  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

  font-size: 14px;
}
input[id='imagem']{
  display: none;
}
.qtdimg{
  display: flex;
  justify-content: space-between
}
.svg-camera{
  height: 14px;
  width: 14px;
  margin-right: 5px;
}
.submit-produto{
  background-color: #3BA339;
  color: #fff;

  width: 348px;
  height: 48px;

  margin-bottom: 15px;
  margin-top: 10px;

  border-radius: 5px;
  border: none;

  font-size: 24px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.add-produto{
  background-color: #3BA339;
  color: #fff;

  width:100%;
  height: 48px;

  margin: 25px 0px;

  border-radius: 5px;
  border: none;

  font-size: 24px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

label[for='imagem']{
  width: 175px;
  height: 48px;
  padding: 0px 12px;
  margin-bottom: 12px;

  background-color: #fff;
  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

  font-size: 13px;
  color: #C2C2C2;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

/* TORNE-SE UM FORNECEDOR */

.seja-fornecedor{
  padding: 56px 40px;
}
.seja-fornecedor strong{
  font-size: 24px;
  margin-left: 30px;
}

.info-fornecedor{
  background-color: #fff;
  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

  margin-top: 30px;
  padding: 35px;
}
.info-fornecedor span{
  font-size: 24px;
}