.mycart{
  margin: 56px 38px 56px 0px;
}
.tittle-mycart{
  margin-left: 30px;

  font-size: 24px;
  font-weight: 600;
}
.table-mycart{
  margin-top: 30px;
  height: 60px;

  background-color: #fff;
  border: 1px solid #C2C2C2;
  border-radius: 5px;
}
.produtos-mycart{
  margin-top: 30px;
  width: 838px;

  font-size: 16px;
  font-weight: 600;

  background-color: #fff;
  border: 1px solid #C2C2C2;
  border-radius: 5px;
}

/* índices carrinho*/

.indices-mycart{
  height:60px;
  color: #3BA339;
}

.flex-mycart{
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #C2C2C2;
}
.flex-myitencart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.th-produto{
  padding-left: 30px;
}
.th-quantidade{
  padding-left: 495px;
  padding-right: 73px; 
}
.th-valor{
  padding-right: 30px;
}

/* Produtos carrinho*/

.img-productcart{
  height: 98px;
  width: 98px;
}

.cart-product{
  padding: 23px 20px;
  font-weight: 400;
}

.add-moreproducts{
  width: 118px;
  height: 38px;

  border: 1px solid #C2C2C2;
  border-radius: 5px;

  text-align: center;
}

.remove-products{
  border: none;
  background: transparent;
  width: 70px;
  height: 20px;
  cursor: pointer;
}
.tittle-productcart{
  width: 386px;
  margin: 33px;
  color: #000;
}
.flex-remove{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-price{
  margin-left: 46px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
input[id="total"]{
  width: 35px;
  height: 35px;
  border: none;
  text-align: center;
}
.add-remove{
  width: 38px;
  height: 38px;
  border-radius: 50px;

  background-color: transparent;
  border: none;

  text-align: center;
  cursor:pointer;
}

/* Carrinho vazio */
.flex-badcart{
  display : flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14vh;
}

.flex-badcart strong{
  font-size: 28px;
  margin-bottom: 16px;
}

.flex-badcart span{
  font-size: 18px;
  margin-bottom: 42px;
  color: #585B5E;
}

.img-badcart{
  width: 168px;
  height: 173px;
  margin-bottom: 38px;
}
.a-badcart{
  text-decoration: none;
}
.button-additemcart{
  background-color: #3BA339;
  color: #fff;

  width: 320px;
  height: 48px;
  border-radius: 5px;

  font-size: 24px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Resumo do total de itens */
.flex-allcart{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.total-cart{
  width: 400px;
  height: 375px;
  margin-top: 115px;

  background-color: #fff;
  border: 1px solid #C2C2C2;
  border-radius: 5px;
}
.resumo-produto{
  padding: 4px 24px;
  font-size: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}
.title-resumo{
  padding: 0px 24px;
  height: 60px;

  color: #3BA339;
  font-size: 16px;
  font-weight: 600;

  display: flex;
  align-items: center;
}
.finalizar-carrinho{
  width: 352px;
  height: 48px;
  margin-top: 25px;
  margin-bottom: 10px;
  cursor: pointer;

  font-size: 20px;
  font-weight: 500;

  background-color: #3BA339;
  color: #fff;
  border: none;
  border-radius: 5px;

  text-decoration: none;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.voltar-carrinho{
  width: 352px;
  height: 48px;
  cursor: pointer;

  font-size: 20px;
  font-weight: 500;

  background-color: #fff;
  color: #3BA339;
  border: 0.5px solid #3BA339;
  border-radius: 5px;

  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}
.linha-resumo{
  width: 352px;
  height: 0.5px;
  background-color: #C2C2C2;
  margin: 25px 0px;
}
.subtotal{
  font-size: 20px;
  font-weight: 500;
}
