.cadastro-declink{
  text-decoration: none;
}

.cadastro-dectext{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 22px;
}

.cadastro-dectext2{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 22px;
}

.container-cadastro{
  background-color:#f8f8f8;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
} 

.cadastro-form{
  background-image: url("../../assets/ilustracao.png");
  background-position: center;

  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 15px;

  height: 545px;
  width: 998px;
  margin: 34px 0px;
}

.cadastro{
  width: 38.5%;
  margin: 46px 56px;
  
  display: flex;
  flex-direction: column;
}

.cadastro-forms{
  display: flex;
  align-items: center;
  flex-direction: column;
}

input[id='email' ]{
  width: 322px;
  height: 48px;
  padding: 0px 12px;
  margin-bottom: 22px;

  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

  font-size: 14px;
}
input[id="telefone"] {
  width: 322px;
  height: 48px;
  padding: 0px 12px;
  margin-bottom: 22px;

  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

  font-size: 14px;
}
input[id='name' ]{
  width: 322px;
  height: 48px;
  padding: 0px 12px;
  margin-bottom: 22px;

  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

  font-size: 14px;
}
input[id='cadastro-senha']{
  width: 140px;
  height: 48px;
  padding: 0px 12px;
  margin-bottom: 20px;
  
  margin-right: 17px;

  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

  font-size: 14px;
}
input[id='cadastro-csenha']{
  width: 140px;
  height: 48px;
  padding: 0px 12px;
  margin-bottom: 20px;

  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

  font-size: 14px;
}

.cadastro-criarsenha{
  display: flex;
  align-items: center;
  
}

.cadastro-buttoncadastro{
  width: 350px;
  height: 48px;

  background: #3BB139;
  color: #fff;

  border-radius: 5px;
  border: none;

  cursor: pointer;
}

.cadastro-buttonvoltar{
  width: 350px;
  height: 48px;

  background: transparent;
  color: #3BB139;

  border: 1px solid #3BB139;
  border-radius: 5px;

  cursor: pointer;

  font-size: 24px;
  font-weight: 500;
}
.btn-senha{
  height: 18px;
  width: 18px;

  margin-bottom: 20px;
  margin-right: 8px;

  border: 1px solid #3BB139;
  border-radius: 50%;

  text-align: center;
  font-weight: 600;

  background-color: #3BB139;
  color: #fff;

  cursor: pointer;
}

.descricao-senha{
  display: none;

  width: 150px;
  padding:5px;

  margin-bottom: 20px;
  margin-right: 8px;

  text-align: center;
  font-weight: 400;
  font-size: 10px;

  background-color: #fff;
  border: 0.5px solid hsla(0, 0%, 0%, 0.25);
  border-radius: 5px;

}

.info-senha{
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 198px;
  height: 58px;

  position: relative;
  bottom: 182px;
  right: 275px;
}

.info-senha:hover .descricao-senha{
  display: block;
}

.form-error{
  position: absolute;
  font-size: 10px;
  padding-left: 3px;
  color: red;
}
