footer{
  background: #fff;
  border-top: 0.5px solid hsla(0, 0%, 0%, 0.25);
}

.container{
  margin: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  background: #f8f8f8;
}

.container2{
  margin: 0;
  display: flex;
  flex-flow: column;
  height: 100vh;
  background: #f8f8f8;
}


.button-container{
  margin: 0px 75px;
}

.search-container{
  display: flex;
  align-items: center;
}

.nav-main{
  background-color: #fff;
  border-bottom: 0.5px solid hsla(0, 0%, 0%, 0.25);  

  padding: 16px 75px;

  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;

}

.nav-bar{
  background-color: #fff;
  border-bottom: 0.5px solid hsla(0, 0%, 0%, 0.25);
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}

.logo{
  height: 3.5rem;
}

.status-search{
  background: #f8f8f8;
  margin-top: 30vh;
  margin-bottom: 30vh;
  height: auto;
  width: auto;
  text-align:center;  
}

.login-cart{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-cart img{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.footer-top{
  height: 170px;
  padding: 0px 75px;
  font-weight: 500;
  color: #585B5E;
}

.slogan{
  height: 40px;
  padding-top: 32px;
}

.footer-contato{
  display: flex;
  padding-top: 32px;
}

.footer-contato img{
  height: 14px;
  margin: 0px 5px 0px 10px;
}

.infos{
  display: flex;
  justify-content: space-between;
}

.footer-fornecedor{
  display: flex;
  justify-content: flex-end;
}

.button-fornecedor{
  background-color: #3BB139;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 500;

  cursor: pointer;

  height: 30px;
  width: 195px;
}

.footer-botton{
  margin: 0px 70px;
  height: 70px;
  border-top: 0.5px solid hsla(0, 0%, 0%, 0.25);
  color: #585B5E;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-botton p{
  font-weight: 500;
  color: #585B5E;

}

.footer-social{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-social img{
  height: 26px;
}

